@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.login-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  padding: 40px;
  box-sizing: border-box;
}
.login-wrapper > h2 {
  font-size: 24px;
  color: rgb(14, 17, 28);
  margin-bottom: 20px;
}
#login-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
#login-form > input::placeholder {
  color: #d2d2d2;
}
#login-form > input[type="submit"] {
  font-family: "Tektur", sans-serif;
  color: aliceblue;
  font-size: 16px;
  font-weight: 900;
  background-color: rgb(14, 17, 28);
  margin-top: 20px;
}
#login-form > input[type="submit"]:hover {
  background-color: #262c61;
  cursor: pointer;
}

#login-form > input[type="checkbox"] {
  display: none;
}
#login-form > label {
  color: #999999;
}
#login-form input[type="checkbox"] + label {
  cursor: pointer;
  padding-left: 26px;
  background-size: contain;
}
#login-form input[type="checkbox"]:checked + label {
  background-size: contain;
}
