@import url("https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");

.sub2 {
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
}

#sub2section {
  width: 100%;
}

.sub2sectiontext {
  padding-top: 3rem;
  width: 100%;
}

.sub2image {
  margin: 0;
}

.sub2image img {
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.sub2sectiontext .sub2title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.sub2content {
  display: inline-block;
  margin: 1rem 8rem 5rem 8rem;
  text-align: center;
  font-size: 18px;
  color: aliceblue;
}

#wrapper button {
  font-family: "Tektur", sans-serif;
  color: aliceblue;
  font-size: medium;
  font-weight: 900;
  background-color: rgb(14, 17, 28);
  border: none;
  border-radius: 3rem;
  margin-bottom: 3rem;
  padding: 1rem 2rem;
}

#wrapper button:hover {
  background-color: #262c61;
  cursor: pointer;
}
